#hidden {
    display: none;
}

.ui.form {
    width: 40%;
    
}

.line{
    width: 80%;
    border-bottom: 1px solid black;
    position: absolute;
    }

h1{
    /* color: orange;
    font-size: 300%;
    font-family: verdana; */
    /* border: 20px solid powderblue;
    padding: 300px; */
}

p{
    font-size: 150%;
    font-family: verdana;
    font-weight: bold;
    text-align: center;
    color: orange;
}

.destinationForm{
    text-align: center;
    align-content: center;
    display: inline-block;
    vertical-align: middle;
    justify-content: center; 
    line-height: normal;
    color: orange;
}

.destinationFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    height: 100vh;
}

.dayCalendar{
    height: 11px;
    margin-bottom:7px;
}

.chevronDown{
    height:18px;
    margin-top:15px;
}

.trip_location{
    display:flex;
    justify-content: flex-start;
    margin-left:10px;
    font-size: 4rem;
    text-align: center;
    margin-top:50px;
}

.trip_dates{
    display:flex;
    justify-content: flex-start;
    margin-left:20px;
    text-align: center;
}

#create_trip_button{
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 50px;
}

.planTrip{
    font-size: 3rem;
}



#tripInput{
    margin-top: 10px;
    margin-bottom:10px;
}

.trip_container{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 20px;
    height:200px;
    background-color: rgb(250, 250, 250);
    border: none;
    position: relative;
    z-index: 5;
}


.day_container{
   display:flex;
   justify-content: center;
}


.logo{
    margin-left: 40px;
    padding-top: 40px;
}

#activityForm{
    width: 250px;
    height: 35px;
    padding: 5px;
    margin-right:10px;
    border: none;
    background: rgb(235, 235, 235);
    border-radius: 5px;
}

#start_time{
    height: 35px;
    margin-right:10px;
    margin-left:10px;
    border: none;
    background: rgb(235, 235, 235);
}
#end_time{
    height:35px;
    margin-right:10px;
    margin-left:10px;
    border: none;
    background: rgb(235, 235, 235);
}

.activityForm{
    display:flex;
}

.insertSectionSpace{
    height:35px;
    margin-top:40px;
    padding-top:40px;
    border-top: 1px solid rgb(221, 221, 221);
}

.addActivityBtn{
    height:35px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right:10px;
    border: none;
    background: rgb(235, 235, 235);
    cursor: pointer;
}

.addActivityBtn:hover{
    height:35px;
    background-color:rgb(206, 206, 206);
    border-radius: 8px;
    padding-left: 10px;
    padding-right:10px;
    border: none;
    cursor: pointer;
}

.activitiesContainer{
    display: block;
    justify-content: space-evenly;
    align-items: baseline;
    background-color:rgb(235, 235, 235);
    border-radius: 10px;
    padding:10px;
    margin-bottom:20px;
}

.activitiesTime{
    color:black;
    font-size:1.3rem;
    margin-left: 500px;
    margin-top: -30px;
}

.activitiesTimeClock{
    height: 8px;
    margin-bottom:3px;
    color: #fd8f11;
}

.itineraryHeader{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    margin-top:50px;
}

.trashCan{
 all: unset;
  color: black;
  -webkit-text-fill-color: black;
  cursor: pointer;
  float:right;
  margin-right:10px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.trashCan:hover{
    all: unset;
     color: rgb(136, 136, 136);
     -webkit-text-fill-color: black;
     cursor: pointer;
    float:right;
    margin-right:10px;
    margin-top: -10px;
   }


.coverImg{
    height:500px;
    width:100%;
    position: absolute;
    z-index: 2;
    margin-top:-375px;
    object-fit: cover;
    object-position: 20% 70%; /* try 20px 10px */ 
}

.container-fluid{
    position: relative;
    

}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');


.daysOnTrip{
    font-family: 'Montserrat', sans-serif;
}
   

.options{
    float:right;
    height: 20px;
    margin-top:15px;
}




#dropDown{
    float:right;
}

#dropDownOptions{
    margin: 0px;
}

#myDropDown{
    margin-top:20px;
}

.listOption{
    float: right;
    margin-right:10px;
    margin-top:20px;
    cursor: pointer;
}

.listOption:hover{
    color: rgb(136, 136, 136);
}

.tripList{
    margin: auto;
    align-content: center;
    text-align: center;
    margin-top:10px;
    background-color: rgb(241, 241, 241);
    width:80%;
    border-radius: 10px;
    padding:20px;
    margin-top: 50px;
}

.tripCardCalendar{
    height: 8px;
    margin-top:2px;
}

.activitiesCount{
    float: left;
}


.mainContainer{
    display:grid;
    justify-content: center;
}


.notesContainer{
    width: 100%;
    height:100px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;;
    padding: 10px;
    margin-bottom: 20px;
}

.noteInput{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width:100%;
}

.noteInput:after{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.notesDiv{
    display:flex;
    justify-content: flex-start;

}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    outline: none
}

.activitiesName{
    font-size: 2rem;
    margin-left: 80px;
    margin-top: 20px;
    padding-top: 5px;
}

.activitiesDescription{
    margin-top:0px;
    font-size:1rem;
    margin-left: 115px;
    padding:0px;
}


.LineOnActivities{
    border-top: 1px solid rgb(201, 201, 201);
}

.pin{
    color:#fd8f11;
    margin-right:5px
}


.activitySummaryDate{
    font-size: 1.7rem;
    font-weight: bold;
    list-style-position: inside;

}

.book{
    height: 10px;
    margin-bottom:10px;
}

#activitiesSubheading{
    margin-left: 30px;
}

.insertSectionSpaceOrange{
    height:50px;
    margin-top:-75px;
    padding-top:40px;
    border-top: 20px solid rgb(252, 101, 1);
}