#hidden {
    display: none;
}

.ui.form {
    width: 60%;
}

.line{
    width: 80%;
    border-bottom: 1px solid black;
    position: absolute;
    }

h1{
    color: orange;
    font-size: 300%;
    font-family: verdana;
    /* border: 20px solid powderblue;
    padding: 300px; */
}

p{
    font-size: 150%;
    font-family: verdana;
    font-weight: bold;
    text-align: center;
    color: orange;
}

.destinationForm{
    text-align: center;
    color: orange;
    display: inline-block;
}

